@model IEnumerable<UserCreation.project.Models.User>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<h1>User details</h1>

<p>
    <a asp-action="AddUser" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Create new</a>
    <input type="text" id="input" placeholder="Search"/> <button onclick="return search()">Search</button>
</p>
<table class="table" id="Mytable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                State
            </th>
            <th>
                City
            </th>
            <th>
                Pincode
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    <a asp-action="UpdateUser" asp-route-id="@item.ID" class="btn btn-outline-primary"><i class="fa fa-marker fa-lg"></i>Edit</a>

                    <input type="button" value="Delete" id="Del" class="btn btn-primary" onclick="Delete(@item.ID)" />
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#Mytable').DataTable({
            "ajax": {
                "url": "https://localhost:5001/api/User",
                "type": "GET"
            },
            "columns": [
                { "data": "Name" },
                { "data": "Address" },
                { "data": "Email" },
                { "data": "Phone" },
                { "data": "State" },
                { "data": "City" },
                { "data": "Pincode" }
            ]

        });

        function search() {
            var table = $("#Mytable").DataTable();
            $('#input').on('keyup', function () {
                table.search(this.value).draw();
            });
        }
        
    });
    

    

    function Delete(id) {

        if (confirm("Are you sure you want to delete?")) {
            var userid = id;
            $.ajax({
                url: 'https://localhost:5001/api/User/DeleteUser?id='+ userid,
                type: 'POST',
                data: userid,
                success: function (data, textstatus, xhr) {
                    alert("Record inserted successfully.....");
                },
                error: function (xhr, textstatus, errorThrown) {
                    console.log('Error in operation');
                }
            });
        }
    }
</script>
